body {
  background-color: #272822;
  color: rgb(226, 226, 226);
  font-family: 'Courier New', Courier, monospace;
}

/* Data Section Title */
h2 {  
  text-align: center;
}

/* Item Titles */
h3 {
  color: #FD971F;
  padding-top: 0px;
  font-size: 12px;
}

h1, h2, h3, h4 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}
.subtitle {
  text-align: center;
  padding-top: 10px;
}

/* Data Boxes */
table {
  margin-top: 10px;
  width: 60%;
}
td {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 200;
  text-align: left;
}


.sideData {
  float: left;
}
.sideChart {
  float: right;
  width: 40%;
  height: 200px;
}

.container {
 display: grid;
 grid-template-columns: 50% 49%;
 padding: 10px;
 grid-gap: 10px;
}
.data {
  padding: 20px;
  border: 1px;
  border-color: #333;
  border-style: solid;

}
.data > h3 {
  padding: 0px;
  margin: 0px;
}



.debug {
  text-align: center;
  color: aqua;
  background-color: #333;
  border: 1px;
  border-color: #bc330d;
  border-style: solid;
}


.bar {
  width: 20%;
  margin-left: 40%;
  padding: 0px;
}
.barInline {
  margin: 10px;
  width: 15%;
  position: relative;
  display: block;
}

.row {
  display: flex;
}


.storageBar {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.right {
  text-align: right;
  float: right; 
}
.coreIndicator {
  width: 20%;
  position: absolute;
  margin: 0;
}
/*
.cpuCoreDisplay {
  display: inline;
  margin: 5px;
  padding: 0;
  vertical-align: top;
}
*/

@keyframes redPulse {
  from { background-color: #bc330d; box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes redPulse {
  from { background-color: #bc330d; box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; box-shadow: 0 0 9px #333; }
}
@keyframes greenPulse {
  from { background-color: #A6E22E; box-shadow: 0 0 9px #333; }
  50% { background-color: rgb(152, 214, 29); box-shadow: 0 0 18px rgb(116, 158, 32); }
  to { background-color: #A6E22E; box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes greenPulse {
  from { background-color: #A6E22E; box-shadow: 0 0 9px #333; }
  50% { background-color: rgb(116, 158, 32); box-shadow: 0 0 18px rgb(116, 158, 32); }
  to { background-color: #A6E22E; box-shadow: 0 0 9px #333; }
}
.indicator {
  width: 10px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  background-color: red;

  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;

  animation-name: greenPulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.indicatorData {
  vertical-align: top;
}
#cores {
  position: absolute;
  display: inline-block;
}