body {
  background-color: #272822;
  color: rgb(226, 226, 226);
  font-family: 'Courier New', Courier, monospace;
  padding: 50px;
}

/* Data Section Title */
h2 {  
  text-align: center;
}

/* Item Titles */
h3 {
  color: #FD971F;
  padding-top: 0px;
  font-size: 12px;
}

h1, h2, h3, h4 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}
.subtitle {
  text-align: center;
  padding-top: 10px;
}

/* Data Boxes */
table {
  width: 75%;
}
td {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 200;
  
  text-align: left;
}


div.dataSection {
  grid-row: 1 / span 2; 
}
div.data {
  padding: 10px;
  width: 75%;
}
div.data > h3 {
  padding: 0px;
  margin: 0px;
}
.row {
  display: grid;
  grid-gap: 30px;
}


.bar {
  width: 20%;
  margin-left: 40%;
  padding: 0px;
  display: inline-table;
}

.red {
  background-color: red;
  width: 10px;
  height: 10px;
  display: inline-block;
}
